.productItems {
  padding: 0 16px;
}
@media (min-width: 768px) {
  .productItems {
    padding: 0 32px;
  }
}
@media (min-width: 1024px) {
  .productItems {
    padding: 0 80px;
  }
}

.category {
  font-size: 42px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 72px;
}

.grid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 16px;
  margin: 48px 0;
  width: calc(100vw - 32px);
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .category {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: initial;
    gap: 96px;
  }
}
@media (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (min-width: 2560px) {
  .grid {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
