.container {
  min-height: calc(100vh - 160px);
  display: flex;
  flex-direction: column;
  margin: 72px 0;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

.uppercase {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: #1d1f22;
}

.horizontalLine {
  width: 100%;
  height: 1px;
  background: #e5e5e5;
  margin: auto;
  margin-top: 56px;
}

.wrapper {
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  color: #1d1f22;
  text-transform: capitalize;
  margin-top: 8px;
  display: flex;
  gap: 4px;
}

.wight500 {
  font-weight: 500;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  width: 279px;
  height: 43px;
  background: #5ece7b;
  color: #ffffff;
  border: none;
  margin-top: 16px;
  text-transform: uppercase;
}

.button p {
  font-size: 14px;
  font-weight: 600;
}
