.sticky {
    position: sticky;
    left: 0;
    top: -1px;
    z-index: 3;
    background: #ffffff;
    width: 100%;
    padding: 0 16px;
  }
  @media (min-width: 768px) {
    .sticky {
      padding: 0 32px;
    }
  }
  
  .flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  
  .display {
    display: block;
  }
  @media (min-width: 768px) {
    .display {
      display: none;
    }
  }
  
  .flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 56px;
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    text-transform: uppercase;
    transition: all 0.3s;
    display: none;
    background: #ffffff;
    padding: 56px 0;
    z-index: 1;
  }
  @media (min-width: 768px) {
    .flex {
      display: flex;
      flex-direction: row;
      gap: 16px;
      position: initial;
      transform: translate(0%);
      padding: 0;
    }
  }
  
  .displayFlex {
    display: flex;
  }
  
  .active {
    color: #5ece7b;
    position: relative;
  }
  .active::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -32px;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: #52d67a;
    border-radius: 500px;
  }
  
  .logo {
    display: block;
  }
  @media (min-width: 768px) {
    .logo {
      order: -1;
      margin-right: 8px;
    }
  }
  
  .itemsCenter {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .relative {
    position: relative;
  }
  
  .curserPointer {
    cursor: pointer;
  }
  
  .span {
    position: absolute;
    top: -10px;
    right: -10px;
    background: #1d1f22;
    color: #ffffff;
    border-radius: 60px;
    width: 20px;
    height: 20px;
    text-align: center;
  }
  
  .overlay {
    background: rgba(57, 55, 72, 0.22);
    position: fixed;
    left: 0;
    top: 80px;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  